<footer id="footer">
    <div class="container">
        

        <div class="row">
            <div class="col-xl-12">
                <p style="font-size: 11px; text-align: left;">Disclaimer : All odds displayed at bet7eleven.com are for informational purpose only.
                    Online flash promotes only fantasy sports | Assam, Nagaland , Telangana, Orissa, Sikkim & states are not being targeted as per google ads policy.
                     online flash is not accept any type of payment from players.</p>
            </div>
        </div>


    </div>
</footer>