<section id="highlight">
    <div class="container">
            <div class="row justify-content-sm-center">
                    <div class="col-xl-5 col-sm-10 d-none d-sm-block">
                            <figure><img src="../../assets/img/tenis.png" alt="" class="img-fluid"></figure>
                    </div>
                    <div class="col-xl-7">
                            <div class="box">
                                    <h3>OUR MISSION</h3>
                                    <h1>Excellence In info Tennis Fundamentals</h1>

                                    <p>Tennis is a racket sport in which two opposing players (singles) or pairs of players (doubles). using the tautly strung rackets to hit a ball of specified size, weight, and bounce over a net on a rectangular court. Each player uses a tennis racket that is strung with cord to strike a hollow rubber ball covered with felt over or around a net and into the opponent's court.</p>
                            </div>
                    </div>
            </div>

    </div>

</section>
