<section id="slider">
    <img src="../../assets/img/luckky772.jpg" alt="" class="img-fluid">   
        <div class="instant">
              <h1>ENTER THE GAME ZONE</h1>
             <a href="https://www.lucky777exch.xyz/Users/Login" target="_blank" class="btn btn-outline-primary">CLICK </a> 
        </div>
</section>


<section id="feature">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xl-4">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <img src="../../assets/img/icon1.svg" alt="" height="43">
              </div>
              <h5 class="card-title">Register</h5>
              <h6 class="card-subtitle mb-4 mt-2">The act of making records of names and other information. </h6>           
              <a class="btn btn-outline-primary" routerLink="/register">Register</a>
            </div>
          </div>
        </div> -->

        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <img src="../../assets/img/icon2.svg" class="ccolor" alt="" height="50">
              </div>
              <h5 class="card-title">Deposit</h5>
              <h6 class="card-subtitle mb-4 mt-2"> Depositing money from the account is called deposit.</h6>           
              </div>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <div class="icon">
                <img src="../../assets/img/icon3.svg" alt="" height="50">
              </div>
              <h5 class="card-title">Withdrawal</h5>
              <h6 class="card-subtitle mb-4 mt-2">Withdrawal money from a bank account.</h6> 
             </div>
          </div>
        </div>
      </div>
    </div>
</section>
 