<section id="privacy">
  <div class="container">
    <h4>WHO WE ARE</h4>
    <p>This Privacy Policy applies to the website bet7eleven.com</p>
    <p>
      This privacy policy describes (" India”, “we”, “us”, “our” or “the Site”)
    </p>
    <p>
      treat user information we collect on bet7eleven and other offline
      sources. This Privacy applies to current and former visitors to the Site
      and to our online customers. By visiting and using the Site, you are
      agreeing to this Privacy Policy.
    </p>

    <h4>WHAT INFORMATION WE MAY COLLECT</h4>

    <h4>Demographic information</h4>
    <p>
      We collect demographic information about you but not inclusive, events you
      like, events you intend to participate in, tickets you buy, or any other
      information provided by you during the use of the Site. We might collect
      this as a part of a survey also.
    </p>

    <h4>HOW WE COLLECT INFORMATION</h4>
    <h4>Directly from you</h4>

    <P
      >We may collect information if you post a comment on the Site or ask us a
      question through phone or email.
    </P>

    <h4>From third parties</h4>
    <p>
      If you use an integrated social media feature on the Site. The third
      ­party social media site may give us certain information about you. This
      could include your name and email address.
    </p>

    <h4>WHAT WE USE YOUR PERSONAL INFORMATION FOR</h4>

    <p>For respond to queries</p>

    <p>
      We might use the information you provide when contacting us, such as name,
      phone number and email address. This information may be use to answer to
      any queries you may send to us. For improve user experience
    </p>

    <p>
      We might use your information to customize your experience with us. We may
      use your information to make the Site better and more targeted towards
      your interests. For marketing and communication purposes
    </p>

    <p>
      We will send you information either through email or SMS about special
      promotions. We will also tell you about new features or general industry
      news. Your personal information may also be collected. We use information
      as permitted by law.
    </p>

    <h4>Storing Personal Information</h4>
    <p>
      We will store personal information only for a designated period of time in
      compliance with our legal obligations unless/until a longer period of time
      is required or permitted by law. Your information may continue to be
      stored after you have updated or deleted it from the Site, but not in a
      way that is compromise your personal identity. All personal information
      will be deleted after the retention period has expired.
    </p>

    <h4>COOKIES</h4>
    <p>
      The Site uses “cookies” to track certain information about you. This
      information is used in compliance with our cookie policy to enhance the
      overall experience you have on the Site. The cookies may be used to
      collect, store and track certain types of information for statistical
      purposes. Web browsers will likely accept cookies automatically, however,
      you can change this within the browser settings. Doing so, however, may
      impact the overall experience you have on the Site.
    </p>

    <h4>THIRD-PARTY SITES</h4>
    <p>
      If you are click on links to third party websites, you may be taken to
      websites we do not control. This policy does not apply to the privacy
      practices of those websites. We are not responsible for these third party
      sites. so read carefully other websites privacy policy.
    </p>
    <h4>UPDATES TO THIS POLICY</h4>
    <p>
      From time to time, we may change our privacy, Policy. We will notify you
      of any material changes to this policy as required by law. We will also
      post an updated copy on the Site. Please check our site periodically for
      updates.
    </p>

    <h4>ACCEPTING THIS POLICY</h4>
    <p>
      By using the Site, you agree to acknowledge that you have accepted all
      terms within this Policy and that you are bound by all the terms listed
      within. If you do not accept the terms listed in the Policy, you are not
      authorized to access or use the Site or its services.
    </p>
  </div>
</section>
