<section id="register">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 mt-5">
        <h2>User Registration</h2>
        <hr>
        <mat-card>
          <mat-card-content>
            <form class="example-form" [formGroup]="registerForm" (ngSubmit)="proceedregister()">
              <mat-form-field class="full-width">
                <mat-label>User ID</mat-label>
                <input matInput formControlName="id">
              </mat-form-field>
              
              <mat-form-field class="full-width">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>

              <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
              </mat-form-field>

              <button mat-raised-button color="primary" class="me-2">Submit</button>
              <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>

</section>